[core]
	editor = vim
	fileMode = false
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[credential]
	helper = cache --timeout=172800
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	gph = log --all --decorate --oneline --graph
	diffnpm = diff -- . ':!package-lock.json' ; compares changes in the current directory but excludes the package-lock.json
	difftnpm = difftool -- . ':!package-lock.json'
	difftg = difftool -- . ':!go.sum'
	; mergencnf = merge --no-commit --no-ff
	restores = restore --staged
	restoresw = restore --staged --worktree
	reseth = reset --hard
	resets = reset --soft
	name = config user.name
	email = config user.email
	alias = config --get-regexp alias
[safe]
	directory = *
